html,
#root,
body,
.App {
  height: 100%;

  .home {
    display: flex;
    margin: 1rem;
  }
}
.signupContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
