html,
#root,
body,
.App {
  height: 100%;

  .home {
    display: flex;
    margin: 1rem;
  }
}
.signupContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.yellow {
  background-color: #ffca3a !important;
}
.orange {
  background-color: #fb5607 !important;
}
.red {
  background-color: #d62828 !important;
}
.purple {
  background-color: #8338ec !important;
}
.blue {
  background-color: #3a86ff !important;
}
.gray {
  background-color: #8a817c !important;
}
.green {
  background-color: #8ac926 !important;
}
