.legend {
  width: 150px;
  height: 150px;
  background-color: white;

  .row {
    display: flex;

    .boxColor {
      width: 30px;
      height: 30px;
    }

    .yellow {
      background-color: yellow;
    }
  }
}
